<h1>ログインするよ</h1>
<form action="/sessions/new" method="post">
    <p>メールアドレス<input type ="text" name="mail" placeholder="メールアドレス" /></p>
    <p>PINコード<input type ="text" name="" placeholder="PIN" /></p>
    <p><input type ="submit" value="ログイン" /></p>
</form>
